@use "../../abstracts/index" as *;

.EmptyBoard {
  width: 100%;
  margin-inline: auto;
  text-align: center;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.ColumnsContainer {
  min-height: 300px;
  display: inline-flex;
  height: 100%;
}

.BoardWrapper {
  padding-left: calc(4% - 15px);
  min-height: 300px;
  min-width: 100%;
  display: inline-flex;
  display: flex;
  overflow: auto;
  height: 600px;

  .NewColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: $mediumGrey;
    border-radius: 6px;
    margin: 24px 14px;
    max-height: 600px;
    min-width: 200px;
    background: #f0f0f0;
    &:hover {
      color: $mediumGreyHover;
      background: #f5f5f5;
    }
  }
}

@media (min-width: $screen-md) {
  .BoardWrapper {
    padding-left: 9px;
  }
}
